@use "../abstracts/" as a;

.wrapper {
  min-height: 100vh;
  scroll-behavior: smooth;
  margin: 0 auto;
}

#body-index {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(
    to bottom,
    rgba(168, 186, 204, 0.3),
    rgb(178, 221, 212)
  );
}
