#login {
  font-size: 1.75rem;
  display: grid;
  justify-content: center;
  align-items: center;
}

#login * + * {
  margin-bottom: 1.5rem;
}

#user-type {
  margin-bottom: 1.5rem;
}

#submit {
  padding: 1rem;
  background-color: whitesmoke;
  border: none;
}

#submit:focus {
  box-shadow: 0px 0px 10px 2.5px rgb(180, 180, 180);
}
